1. Weather Bot.json
{
  "name": "Weather Bot",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "28.9213"
            },
            {
              "name": "lon",
              "value": "79.9707"
            },
            {
              "name": "appid",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -944,
        -432
      ],
      "id": "7a2da8c1-07cd-4e42-a45a-3b880a9eb64f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "Weather Update",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -368,
        -432
      ],
      "id": "ea079bde-208d-4888-adc2-4fa422a9da70",
      "name": "Send a message",
      "webhookId": "42f33a11-4e16-48dc-bc38-3ea0c680b02b",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Eu0P0mSvz7iQGpq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1168,
        -432
      ],
      "id": "92ace4de-7eb4-4aa3-a157-247ad37343db",
      "name": "Schedule Trigger",
      "retryOnFail": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a concise weather report of {{ $json.name }}\n\nInclude:\n-Temperature {{ $json.main.temp }}\n-Feels like {{ $json.main.feels_like }}\n-Humidity {{ $json.main.humidity }}\n-Pressure {{ $json.main.pressure }}\n-Weather Condition \n\nKeep it under 80 words.\n\nUse bullet points and do not use this *.\n\nEnd with one or two practical recommendations and do not write the word Recommendations.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -720,
        -432
      ],
      "id": "6f5a4499-0ad1-4a3f-a761-a4b180f75939",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        -192
      ],
      "id": "999e4a3a-6c96-4adc-894b-27d43e000717",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yGp5pK3OXYPvWt1b",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1,
    "timezone": "Asia/Kolkata"
  },
  "versionId": "54d28598-101d-4c13-b74a-d3d4d714f4a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9de5e8e789315b2e45cf63c7c66dc2d0e5b182227fa6851e1951b0c1ac91f963"
  },
  "id": "ExI37pfpngDZ1oLF60x34",
  "tags": []
}