Real Estate Lead Qualification/Real Estate Lead Qualification.json
{
  "name": "Real Estate Lead Qualification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9168,
        -2480
      ],
      "id": "20fac973-6e4c-44ea-bc14-d6107b4631ea",
      "name": "Webhook",
      "webhookId": "238417a1-9378-4bbb-b71b-92f198b64b2e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Real Estate Lead Qualifier for the Indian market. Analyze the user's form submission data (Buy/Sell leads from Tally/Airtable) and classify them strictly into \"HOT\", \"WARM\", or \"COLD\".\nData is : {{ JSON.stringify($json) }}\n### LEAD SCORING MATRIX:\n\n1. CLASSIFY AS \"HOT\" 🔥 IF:\n   - Timeline is \"Immediately\" OR \"Within 30 days\"\n   - AND Decision Maker is \"Yes\"\n   - (Applies to both \"Buy\" and \"Sell\" requirements with any budget tier like \"Rs50 Lakhs - 1 Crore\")\n\n2. CLASSIFY AS \"WARM\" ☀️ IF:\n   - Timeline is \"1-6 months\" (Even if Decision Maker is Yes)\n   - OR Timeline is \"Immediately / Within 30 days\" BUT Decision Maker is \"No\"\n   - OR User needs a Home Loan (\"Will you need a home loan? = Yes\") but Timeline is slightly delayed (1-6 months).\n\n3. CLASSIFY AS \"COLD\" ❄️ IF:\n   - Timeline is \"After 6 months\" OR \"Just exploring\" (Regardless of budget or decision maker status).\n\nReturn all output in English only.\n\nReason should be in english And have the budget.\n\n### OUTPUT FORMAT:\nProvide the output strictly in this JSON format so it can be easily updated back to Airtable:\n{\n  \"classification\": \"HOT/WARM/COLD\",\n  \"reason\": \"Brief 1-line reason in Hinglish explaining why this score was given.\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -8688,
        -2320
      ],
      "id": "d453131b-19d5-44ff-bb93-d36e58dd79cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -8832,
        -1968
      ],
      "id": "9a0c8df6-1aa3-448d-b156-d7c92eec02ff",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yGp5pK3OXYPvWt1b",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"lead_status\": {\n      \"type\": \"string\",\n      \"enum\": [\"HOT\", \"WARM\", \"COLD\"]\n    },\n    \"reason\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"lead_status\", \"reason\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -8416,
        -1952
      ],
      "id": "162caa07-c6e9-4b5f-95b1-3e8a48976eca",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -8336,
        -2464
      ],
      "id": "8bc8290f-0dfc-4887-9d96-ccafe3af0af8",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2c9c175-e312-45c3-b3ce-fdff021e066d",
              "name": "lead_status",
              "value": "={{ $json.output.lead_status }}",
              "type": "string"
            },
            {
              "id": "aa0515b0-5bd7-47a1-ba11-e010695b0c2a",
              "name": "reason",
              "value": "={{ $json.output.reason }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8080,
        -2464
      ],
      "id": "6e679505-2319-467f-84bf-fb0f54b18220",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_status }}",
                    "rightValue": "HOT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "266802f9-a32a-486f-80ce-3e0428fb6997"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54837b6e-9f8e-433c-8dc5-1a7c5a3a35b6",
                    "leftValue": "={{ $json.lead_status }}",
                    "rightValue": "WARM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "158f1c5b-100b-427e-bfdf-f535cd5594c8",
                    "leftValue": "={{ $json.lead_status }}",
                    "rightValue": "COLD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -8160,
        -2240
      ],
      "id": "56e74f74-1466-46fc-8739-c016694e883a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7MzgPWuZEEp3Sb",
          "mode": "list",
          "cachedResultName": "Lead Qualification CRM",
          "cachedResultUrl": "https://airtable.com/app7MzgPWuZEEp3Sb"
        },
        "table": {
          "__rl": true,
          "value": "tblMFIT2EvigSAxfx",
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://airtable.com/app7MzgPWuZEEp3Sb/tblMFIT2EvigSAxfx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Phone no.": "={{ $json['Phone no'] }}",
            "Preferred Location": "={{ $json['Preferred Location'] }}",
            "Property Type": "={{ $json['Property Type'] }}",
            "Looking For": "={{ $json['What are you Looking for?'] }}",
            "Budget": "={{ $json['Budget / Expected Price'] }}",
            "Timeline": "={{ $json.Timeline }}",
            "Decision Maker": "={{ $json['Are you the decision maker?'] }}",
            "Need Home Loan": "={{ $json['Will you need a home loan?'] }}",
            "Additional Requirement": "={{ $json['Additional Requirement'] }}",
            "Lead Status": "={{ $json.lead_status }}",
            "Reason": "={{ $json.reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone no.",
              "displayName": "Phone no.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferred Location",
              "displayName": "Preferred Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Property Type",
              "displayName": "Property Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Apartment",
                  "value": "Apartment"
                },
                {
                  "name": "Villa",
                  "value": "Villa"
                },
                {
                  "name": "Plot",
                  "value": "Plot"
                },
                {
                  "name": "Commercial",
                  "value": "Commercial"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looking For",
              "displayName": "Looking For",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Buy",
                  "value": "Buy"
                },
                {
                  "name": "Rent",
                  "value": "Rent"
                },
                {
                  "name": "Sell",
                  "value": "Sell"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Under Rs50 Lakhs",
                  "value": "Under Rs50 Lakhs"
                },
                {
                  "name": "Rs50 Lakhs - 1 Crore",
                  "value": "Rs50 Lakhs - 1 Crore"
                },
                {
                  "name": "Rs1 Crore - 2 Crore",
                  "value": "Rs1 Crore - 2 Crore"
                },
                {
                  "name": "Over Rs2 Crore",
                  "value": "Over Rs2 Crore"
                },
                {
                  "name": "For sell",
                  "value": "For sell"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timeline",
              "displayName": "Timeline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediately",
                  "value": "Immediately"
                },
                {
                  "name": "Within 30 days",
                  "value": "Within 30 days"
                },
                {
                  "name": "1-6 months",
                  "value": "1-6 months"
                },
                {
                  "name": "After 6 months",
                  "value": "After 6 months"
                },
                {
                  "name": "Just exploring",
                  "value": "Just exploring"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Decision Maker",
              "displayName": "Decision Maker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Need Home Loan",
              "displayName": "Need Home Loan",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Additional Requirement",
              "displayName": "Additional Requirement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -7648,
        -2032
      ],
      "id": "91ea39bd-d9aa-4bfd-9294-776a25dcdb0a",
      "name": "Cold Lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "l8L8IHcpIm9JikD8",
          "name": "Airtable Personal Access Token account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7MzgPWuZEEp3Sb",
          "mode": "list",
          "cachedResultName": "Lead Qualification CRM",
          "cachedResultUrl": "https://airtable.com/app7MzgPWuZEEp3Sb"
        },
        "table": {
          "__rl": true,
          "value": "tblMFIT2EvigSAxfx",
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://airtable.com/app7MzgPWuZEEp3Sb/tblMFIT2EvigSAxfx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Phone no.": "={{ $json['Phone no'] }}",
            "Preferred Location": "={{ $json['Preferred Location'] }}",
            "Property Type": "={{ $json['Property Type'] }}",
            "Looking For": "={{ $json['What are you Looking for?'] }}",
            "Timeline": "={{ $json.Timeline }}",
            "Decision Maker": "={{ $json['Are you the decision maker?'] }}",
            "Need Home Loan": "={{ $json['Will you need a home loan?'] }}",
            "Additional Requirement": "={{ $json['Additional Requirement'] }}",
            "Lead Status": "={{ $json.lead_status }}",
            "Reason": "={{ $json.reason }}",
            "Budget": "={{ $('Edit Fields').item.json['Budget / Expected Price'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone no.",
              "displayName": "Phone no.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferred Location",
              "displayName": "Preferred Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Property Type",
              "displayName": "Property Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Apartment",
                  "value": "Apartment"
                },
                {
                  "name": "Villa",
                  "value": "Villa"
                },
                {
                  "name": "Plot",
                  "value": "Plot"
                },
                {
                  "name": "Commercial",
                  "value": "Commercial"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looking For",
              "displayName": "Looking For",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Buy",
                  "value": "Buy"
                },
                {
                  "name": "Rent",
                  "value": "Rent"
                },
                {
                  "name": "Sell",
                  "value": "Sell"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Under Rs50 Lakhs",
                  "value": "Under Rs50 Lakhs"
                },
                {
                  "name": "Rs50 Lakhs - 1 Crore",
                  "value": "Rs50 Lakhs - 1 Crore"
                },
                {
                  "name": "Rs1 Crore - 2 Crore",
                  "value": "Rs1 Crore - 2 Crore"
                },
                {
                  "name": "Over Rs2 Crore",
                  "value": "Over Rs2 Crore"
                },
                {
                  "name": "For sell",
                  "value": "For sell"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timeline",
              "displayName": "Timeline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediately",
                  "value": "Immediately"
                },
                {
                  "name": "Within 30 days",
                  "value": "Within 30 days"
                },
                {
                  "name": "1-6 months",
                  "value": "1-6 months"
                },
                {
                  "name": "After 6 months",
                  "value": "After 6 months"
                },
                {
                  "name": "Just exploring",
                  "value": "Just exploring"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Decision Maker",
              "displayName": "Decision Maker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Need Home Loan",
              "displayName": "Need Home Loan",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Additional Requirement",
              "displayName": "Additional Requirement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -7648,
        -2224
      ],
      "id": "e0dce49a-a6e4-408f-8645-96ddff1f0726",
      "name": "Warm Lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "l8L8IHcpIm9JikD8",
          "name": "Airtable Personal Access Token account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7MzgPWuZEEp3Sb",
          "mode": "list",
          "cachedResultName": "Lead Qualification CRM",
          "cachedResultUrl": "https://airtable.com/app7MzgPWuZEEp3Sb"
        },
        "table": {
          "__rl": true,
          "value": "tblMFIT2EvigSAxfx",
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://airtable.com/app7MzgPWuZEEp3Sb/tblMFIT2EvigSAxfx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Lead Status": "={{ $json.lead_status }}",
            "Reason": "={{ $json.reason }}",
            "Email": "={{ $json.Email }}",
            "Phone no.": "={{ $json['Phone no'] }}",
            "Preferred Location": "={{ $json['Preferred Location'] }}",
            "Property Type": "={{ $json['Property Type'] }}",
            "Looking For": "={{ $json['What are you Looking for?'] }}",
            "Budget": "={{ $json['Budget / Expected Price'] }}",
            "Timeline": "={{ $json.Timeline }}",
            "Decision Maker": "={{ $json['Are you the decision maker?'] }}",
            "Need Home Loan": "={{ $json['Will you need a home loan?'] }}",
            "Additional Requirement": "={{ $json['Additional Requirement'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone no.",
              "displayName": "Phone no.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferred Location",
              "displayName": "Preferred Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Property Type",
              "displayName": "Property Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Apartment",
                  "value": "Apartment"
                },
                {
                  "name": "Villa",
                  "value": "Villa"
                },
                {
                  "name": "Plot",
                  "value": "Plot"
                },
                {
                  "name": "Commercial",
                  "value": "Commercial"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looking For",
              "displayName": "Looking For",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Buy",
                  "value": "Buy"
                },
                {
                  "name": "Sell",
                  "value": "Sell"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Under Rs50 Lakhs",
                  "value": "Under Rs50 Lakhs"
                },
                {
                  "name": "Rs50 Lakhs - 1 Crore",
                  "value": "Rs50 Lakhs - 1 Crore"
                },
                {
                  "name": "Rs1 Crore - 2 Crore",
                  "value": "Rs1 Crore - 2 Crore"
                },
                {
                  "name": "Over Rs2 Crore",
                  "value": "Over Rs2 Crore"
                },
                {
                  "name": "For sell",
                  "value": "For sell"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timeline",
              "displayName": "Timeline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediately",
                  "value": "Immediately"
                },
                {
                  "name": "Within 30 days",
                  "value": "Within 30 days"
                },
                {
                  "name": "1-6 months",
                  "value": "1-6 months"
                },
                {
                  "name": "After 6 months",
                  "value": "After 6 months"
                },
                {
                  "name": "Just exploring",
                  "value": "Just exploring"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Decision Maker",
              "displayName": "Decision Maker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Need Home Loan",
              "displayName": "Need Home Loan",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Additional Requirement",
              "displayName": "Additional Requirement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -7648,
        -2416
      ],
      "id": "09f92124-8e20-48ab-b6d3-374d5d137af7",
      "name": "Hot Lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "l8L8IHcpIm9JikD8",
          "name": "Airtable Personal Access Token account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fields = $json.body.data.fields;\nconst result = {};\n\nfor (const field of fields) {\n  let value = field.value;\n\n  if ((field.type === \"DROPDOWN\" || field.type === \"MULTIPLE_CHOICE\") && Array.isArray(value) && field.options) {\n    const selectedId = value[0];\n    const matchedOption = field.options.find(opt => opt.id === selectedId);\n    value = matchedOption ? matchedOption.text : selectedId;\n  } \n  else if (Array.isArray(value)) {\n    value = value.join(\", \");\n  }\n\n  result[field.label] = value;\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8880,
        -2480
      ],
      "id": "89ee2cbd-c436-4d02-bd72-03e4148dcfd2",
      "name": "JavaScript"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BH0HX61B2",
          "mode": "id"
        },
        "text": "=🔥 New Hot Lead!\nName: {{ $json.fields.Name }}\nPhone: {{ $json.fields[\"Phone no.\"] }}\nEmail: {{ $json.fields.Email }}\nLooking For: {{ $json.fields[\"Looking For\"] }}\nBudget:{{ $json.fields.Budget }}\nTimeline: {{ $json.fields.Timeline }}\nLocation: {{ $json.fields['Preferred Location'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -7424,
        -2416
      ],
      "id": "97aa033d-748b-431d-a08e-2a202c15e19a",
      "name": "Send a message",
      "webhookId": "d3b319a6-6d01-4154-9719-bd4a5ced4b0c",
      "credentials": {
        "slackApi": {
          "id": "LdOKZYDGQxO7BsFO",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Switch').item.json.Email }}",
        "subject": "=Thanks for your interest,  {{ $('Switch').item.json['Full Name'] }}",
        "emailType": "text",
        "message": "=Hi {{ $('Switch').item.json['Full Name'] }},\n\nThank you for reaching out! We found that you're looking to {{ $('Switch').item.json['What are you Looking for?'] }} a property in {{ $('Switch').item.json['Preferred Location'] }}.\n\nSince you're ready to move forward soon, one of our property experts will be calling you shortly to discuss your requirements in detail.\n\nLooking forward to helping you find the perfect property.\n\nBest regards,\n[Your Company Name]",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7200,
        -2416
      ],
      "id": "aedff82a-2ace-4468-b3b8-49d634953761",
      "name": "Send a message1",
      "webhookId": "fa1b9751-68f1-4f92-a881-eb6a8c8f3d89",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Eu0P0mSvz7iQGpq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Switch').item.json.Email }}",
        "subject": "={{ $json.fields.Name }}, here's some info on your property search",
        "emailType": "text",
        "message": "=Hi {{ $json.fields.Name }},\n\nThank you for your interest! We found that you're looking to {{ $json.fields[\"Looking For\"] }} a property in {{ $('Switch').item.json['Preferred Location'] }}, with a timeline of {{ $json.fields.Timeline }}.\n\nWe're here to help whenever you're ready to move forward. Feel free to reply to this email or browse some options we think you'll love.\n\nWe'll follow up with you in a few days, but don't hesitate to reach out sooner if you have questions.\n\nBest regards,\n[Your Company Name]",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7424,
        -2224
      ],
      "id": "0fd53ab7-f0fe-4e22-bb14-104011bbcd7f",
      "name": "Send a message2",
      "webhookId": "5336cb76-7550-49cb-9b15-cb417562c8db",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Eu0P0mSvz7iQGpq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "=Thanks for your interest, {{ $json.fields.Name }}!",
        "emailType": "text",
        "message": "=Hi {{ $json.fields.Name }},\n\nThanks for reaching out! We noticed you're exploring options for {{ $json.fields[\"Looking For\"] }} in {{ $json.fields['Preferred Location'] }}.\n\nNo rush — take your time. In the meantime, we'll keep you updated with helpful tips and new listings that match your interest. \n\nFeel free to reach out whenever you're ready to take the next step.  \n\nBest regards, \n[Your Company Name]",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7424,
        -2032
      ],
      "id": "0c0760ba-851b-43dd-af7c-4e094cbb20e3",
      "name": "Send a message3",
      "webhookId": "5e52829b-a5b3-47ad-9203-daf05b814330",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Eu0P0mSvz7iQGpq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7200,
        -2224
      ],
      "id": "ba4d949f-976f-4945-a964-8c257bafea79",
      "name": "Wait",
      "webhookId": "2a71d359-dd1d-49f2-b114-76e4935e755f"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Switch').item.json.Email }}",
        "subject": "Just Checking In – Are You Still Looking for a Property?",
        "emailType": "text",
        "message": "=Hi {{ $('Warm Lead').item.json.fields.Name }},\n\nWe hope you're doing well.\n\nA few days ago, you shared your property requirements with us. We wanted to check if you're still looking for a property in {{ $('Warm Lead').item.json.fields['Preferred Location'] }}.\n\nBased on your preferences, we'd be happy to help you find the right options within your budget.\n\nIf you're still interested, simply reply to this email or contact us, and one of our property consultants will get in touch with you.\nLooking forward to assisting you!\n\nBest regards,\n[XYZ Real Estate team]",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -6976,
        -2224
      ],
      "id": "a08db6e8-df0f-487c-bada-65cbd3b8c355",
      "name": "Send a message4",
      "webhookId": "6924a711-1035-40bf-8e37-a0ba7e96a98c",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Eu0P0mSvz7iQGpq",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Hot Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warm Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cold Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warm Lead": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cold Lead": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fb5e8c76-f475-4941-beb1-e99472693c93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9de5e8e789315b2e45cf63c7c66dc2d0e5b182227fa6851e1951b0c1ac91f963"
  },
  "id": "Oux0OyYquZ6JTMd680pl8",
  "tags": []
}